<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kyj.staqua">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 인트로 -->
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHTED" />
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity android:name = ".SubActivitySetup"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name = ".SubActivityCaliPh"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityCaliCh"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityCaliTu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityCaliCo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityOutputPh"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityOutputCh"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityOutputCo"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityOutputTu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityOutputTemp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityWashCh"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityWashTu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityTrend"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityDiagno"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity android:name = ".SubActivityDiagnoSensorDetail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Godic">
        </activity>
        <activity
            android:name="com.example.kyj.bluetooth.DeviceListActivity"
            android:theme="@style/DialogTheme" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>